# Database Connection String
DATABASE_URL=postgresql://neondb_owner:YOUR_NEON_PASSWORD@ep-super-band-pooler.us-east-1.aws.neon.tech/neondb?sslmode=require

# Google Gemini API Key
GEMINI_API_KEY=YOUR_GEMINI_KEY_HERE

# Background Cron Poll Secret
CRON_SECRET=your_cron_secret
